<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- seo -->
  <title>Covid | Heart Care</title>
  <meta name="author" content="Heart Care">
  <meta name="description" content="Heart Care, o app que ajuda você a cuidar e entender melhor sua saúde, também está do seu lado no combate à pandemia da COVID-19.">
  <meta name="keywords" content="Faça nosso teste digital de sintomas, respondendo a um protocolo em forma de questionário, e saiba qual a sua probabilidade de você estar infectado com o novo coronavírus.">
  <meta name="google-site-verification" content="0ekEUuJYLCytAbkm1aZpKxeIF5Api_KsuHolIFo2AW0" />
  <link rel="image_src" href="https://covid.heartcare.life/assets/images/logo/logo-heart-care.jpg" />
  <link rel="shortcut icon" href="https://covid.heartcare.life/assets/images/logo/favicon.png" />

  <!-- app banner -->
  <meta name="apple-itunes-app" content="app-id=1317599764" />

  <!-- facebook -->
  <meta property="fb:app_id" content="256295674889487" />
  <meta property="og:title" content="Covid | Heart Care" />
  <meta property="og:description" content="Heart Care, o app que ajuda você a cuidar e entender melhor sua saúde, também está do seu lado no combate à pandemia da COVID-19." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://covid.heartcare.life" />
  <meta property="og:image" content="https://covid.heartcare.life/assets/images/logo/logo-heart-care.jpg" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>
	.mt-50 {
		margin-top: calc(40vh);
	}
	
      body {
        font-family: Helvetica, Arial, sans-serif;
        background-color: #F1F2F3;
        margin: 0 auto;
        text-align: center;
		display: block;
		margin-top: 10%;
   		margin-left: auto;
   		margin-right: auto;
   		height: 50px;
      }

      .text {
        padding-right: 10px;
        padding-left: 10px;
      }


        .text p{
        font-size: 15px;
        font-weight: 300px;
        color: #838383;
        text-align: center;
        
        }

        .loading {
   		height: 100px;
        }
	
</style>

</head>

<body>
	<main class="mt-50">
		<div class="container waiting-result">
	         <div class="row">
		         <div class="col text">
		            <h6><i>Aguarde um instante, estamos processando suas informações.</i></h6>
		         </div>
	         </div>
			 <div class="row">
				<div class="col">
	      			<img class="loading" src="/www/img/loading.svg">
	      		</div>
			 </div>
			 <div class="row">
			 	<div class="col">
					<h5><div class="attempt">9</div></h5>
				</div>
			 </div>
		</div>
		</div>
	</main>
	<form method="POST" action="/result" id="resultForm">
		<input name="email" type="hidden" id="email">
	</form>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<script>
	const checkResponse = (checkUrl) => {
		if (!checkUrl) {
			checkUrl = '${dto.link}';
		}
		fetch(checkUrl)
		   .then((response) => {
		       if(!response.ok){
		           throw new Error('failed!');
		       }
		       return response.json();
		   }).then((data) => {
 			  if (data && !data.found) {
 			  	$('.attempt').text(data.retryAttempt + 1)
 			  	if (data.finished) {
 			  		location.href = data.link
 			  	} else {
	 			  	setTimeout(checkResponse, data.retryTimeout, data.link)
 			  	}
 			  } else if (data && data.found) {
 				const opts = {
		   			method: 'PUT',
		   			headers: {
		   			    'Content-Type': 'application/json',
		   			},
	  	   		    body: JSON.stringify({'idFormResponse': data.idFormResponse})
	   		   };
		   		fetch(data.link, opts)
		   			.then((response) => {
				       if(!response.ok){
				           throw new Error('failed!');
				       }
				       return response.text();
				   }).then((html) => {
   				      document.body.innerHTML = html     
				   });
 			  }
		   }).catch((error) => {
			  console.log(error);
		   });
	}
	$(document).ready(() => {
		if (unescape(location.pathname).indexOf('@') != -1){
			let email = location.pathname.split('/')[2];
			$("#email").val(email)
			$("#resultForm").submit();
		} else {
			setTimeout(checkResponse, 5000)
		}
	})
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script src="/www/js/hc.js"></script>
	
<script>
// disable refresh
preventRefresh();
</script>


</html>